.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  max-width: 36rem;
  width: 100%;
  margin: 0 auto;

  &Sum {
    &Group {
      margin: 1rem 0;
      width: 100%;
    }
  }

  &Error {
    width: 100%;
    margin: 1rem 0;
  }
}

.success {
  &EmptyRoom {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
  }
  &LinkText {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &Link {
    display: block;
    word-break: break-all;
    margin-top: 0.3rem;
  }
  &PasswordBlock {
    margin-top: 2rem;
    &Text {
      font-size: 1.3rem;
    }
  }

  &BackButton {
    margin-top: 2rem;
  }

  &Thank {
    margin: 10px 0;
    color: inherit;
    display: block;
  }
}
