.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  max-width: 36rem;
  width: 100%;
  margin: 0 auto;

  &List {
    width: 100%;
  }

  &Item {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &DeleteButton {
      margin-left: 0.75rem;
    }
  }

  &Sum {
    &Group {
      margin: 1rem 0;
      width: 100%;
    }
    &Label {
      text-align: left;
      margin-bottom: 0.5rem;
      display: block;
      font-weight: 600;
    }
  }

  &Error {
    width: 100%;
    margin: 1rem 0;
  }
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
}

.linkText {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  margin-top: 1.25rem;
}
