.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
  gap: 2rem;
}
.home {
  &Title {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  &Input {
    margin-bottom: 1rem;
  }
  &ReqStatus {
    margin-top: 0.3rem;
    width: 100%;
  }
}
.editForm {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  width: 100%;
}
